@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    width: 550px;
    min-height: 800px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 210px;
    background-image: url("./images/header.jpg");
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header-txt {
    font-size: 42px;
    letter-spacing: -0.045em;
    margin: 0;
}

.watchlist-link-txt {
    margin: 0;
    padding-top: 5px;
    width: 140px;
}

header > p > a {
    text-decoration: none;
    color: white;
}

.search-bar-container {
    width: 100%;    
}

.input-container {
    width: 85%;
    position: relative;
    height: 35px;
    display: flex;
    justify-content: center;
    margin: -15px auto 0 auto;
}

.search-bar-input, .search-bar-btn {
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.search-bar-input {
    max-width: 100%;
    border-radius: 6px 0 0 6px;
    flex-grow: 1;
    padding-left: 35px;
}

.search-bar-input::placeholder {
    font-family: 'Inter', sans-serif;
}

.search-bar-input:focus {
    font-family: 'Inter', sans-serif;
    padding-left: 35px;
    outline-style: none;
    box-shadow: none;
}

.search-bar-input:focus::placeholder {
    color: transparent;
  }

.icon {
    position: absolute;
    top: 9px;
    left: 10px;
}

.search-bar-btn {
    font-family: 'Inter', sans-serif;
    width: 120px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.search-bar-btn:hover {
    background-color: rgb(202, 202, 202);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.initial-container {
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
    color: #DFDDDD;
    font-size: 18px;
}

.initial-container > p > a {
    text-decoration: none;
    color: black;
}

.fa-film {
    font-size: 60px;
    margin-bottom: 10px;
}

.watchlist-add-txt {
    margin: 10px 0;
}

/* loading animation */
.lds-hourglass {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    color: #DFDDDD;
    font-size: 18px
  }

  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #6B7280;
    border-color: #6B7280 transparent #6B7280 transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

/* loading animation end */


.film-img {
    width: 70px;
}

.movie-result-container {
    display: flex;
    align-items: center;
    max-height: 150px;
    font-size: 14px;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1.5px solid #E5E7EB
}

p,h1 {
    margin: 0;
}

.movie-details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 340px;
}

.movie-header-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movie-info-container, .movie-summary-container, .watchlist-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.watchlist-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    cursor: pointer;
    width: 80px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.movie-summary-text {
    text-align: justify;
    color: #6B7280;
}

.poster-container {
    width: 100px;
    height: 150px;
}

.poster-container > img {
    width: 100%;
}